.jumbotron {
    background-image: url(../img/astroArcade.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}
.jumbotron > h1 {
    font-family: 'Press Start 2P', cursive;
    z-index: 10;
}